.log {
    position: relative;
  }
  .submitbtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  table {
    text-align: left;
    font-size: 20px;
  }
  .fillin {
    font-size: 18;
    height: 22px;
  }
  .buttonbox{
    position: relative;
    top: 150px;
    left: 100px;
    padding: 50px;
  }
  .space{
    height: 10px;
  }
  .redirectbtn {
    height:50px;
    width:200px;
  }
  .feedback{
    font-size: 12;
    color: #008000;
    text-decoration: underline;
  }