<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>insert_one</title>
      <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <h1>Insert to visitorlog</h1>
        <div class="box">
            <form action="/insert/insert_one" method="POST">
              <table>
                <tr>
                  <th>Visitor_ID </th>
                  <th><input class="fillin" type="text" name="Visitor_ID" value="" /></th>
                </tr>
                <tr>
                  <td>Object_Code </td>
                  <td> <input class="fillin" type="text" name="Object_Code" value="" /></td>
                </tr>
                <tr>
                  <td>Place_Code </td>
                  <td> <input class="fillin" type="text" name="Place_Code" value="" /></td>
                </tr>
                <tr>
                  <td>Database_ID </td>
                  <td> <input class="fillin" type="text" name="Database_ID" value="" /></td>
                </tr>
              </table>
              <div class="space"></div>
              <div class="bottonbox"><input class="submitbtn" type="submit" value="submit" /></div>
            </form>
        </div>
    </body>
</html>