<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert_one</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>Insert to object_population</h1>
    <div class="box">
        <form action="/insert/insert_one1" method="POST">
            <table>
                <tr>
                    <th> Id </th>
                    <th><input class="fillin" type="text" name="Id" value="" /></th>
                </tr>
                <tr>
                    <td>VisitorLog_ID </td>
                    <td> <input class="fillin" type="text" name="VisitorLog_ID" value="" /></td>
                </tr>
                <tr>
                    <td>Object_Code </td>
                    <td> <input class="fillin" type="text" name="Object_Code" value="" /></td>
                </tr>
                <tr>
                    <td>Place_Code </td>
                    <td> <input class="fillin" type="text" name="Place_Code" value="" /></td>
                </tr>
                <tr>
                    <td>Visited_Time </td>
                    <td> <input class="fillin" type="text" name="Visited_Time" value="" /></td>
                </tr>
            </table>
            <div class="space"></div>
            <div class="bottonbox"><input class="submitbtn" type="submit" value="submit" /></div>
        </form>
    </div>
</body>

</html>