<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Insert to Visitorlog</title>
    </head>
    <body>
        <form action="/insert/insert_one" method="POST">
            <label>
                <span>Visitor_ID : </span>
                <input type="text" name="Visitor_ID" value="" />
            </label>
            <label>
                <span>VisitorLog_UpdDate : </span>
                <input type="text" name="VisitorLog_UpdDate" value="" />
            </label>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>