<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Insert Menu</title>
    </head>
    <body>
        <h1> Insert </h1>
        <h2> Table Name</h2>
        <a href="http://localhost:4000/insert/insert_form"><button> Insert One </button></a>     .
        <form action="/insert/insert_update" method="get">
            <input type="submit" value="Update database" />
        </form>
    </body>
</html>